{{- define "main" -}}
{{- range where .Paginator.Pages "Section" "posts" -}}
<article class="list-card">
  <header>
    <h2 class="fw-6 fs-24">{{ .Title }}</h2>
    <time>{{ .Date.Format "02/01/2006" }}</time>
  </header>
  <main>
    <p>{{ .Description }}</p>
  </main>
  <footer>
    <div class="tag-row">
      {{- range .Params.categories -}}
      <span class="tags category">{{ . }}</span>
      {{- end -}}
    </div>
    <div class="tag-row">
      {{- range .Params.tags -}}
      <span class="tags tag">{{ . }}</span>
      {{- end -}}
    </div>
  </footer>
  <a href="{{ .Permalink }}"></a>
</article>
{{- end -}}
{{- end -}}
