.avatar {
  width: 150px;
}

.sidebar-social {
  display: flex;
  gap: var(--page-columns-small-gap);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 1.2rem 0;
  gap: var(--page-columns-small-gap);
}

.sidebar-container nav {
  padding: 1.2rem 0;
}

.sidebar-container li > a{
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding-bottom: 1.8rem;
}
