<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content={{or .Params.description .Site.Params.description}}>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ .Title }}</title>
{{- $cssResources := slice -}}
{{- $dir := readDir "assets/css" -}}
{{- range $dir -}}
{{- $path := print "css/" .Name -}}
{{- $resource := resources.Get $path -}}
{{- $cssResources = $cssResources | append $resource -}}
{{- end -}}
{{- $cssBundle := $cssResources | resources.Concat "css/bundle.css" | fingerprint | minify -}}
<link rel="stylesheet" href="{{ $cssBundle.RelPermalink }}">
